.git
.gitignore
.github
.agents
node_modules
.next
coverage
.env
.env.*
!.env.example
*.md
*.log
*.stackdump
terraform
teardown.log
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log*
Dockerfile.prod
